$bg-color: #eadac0 !default;
$primary-color: #49a93e !default;
$secondary-color: #275d2c !default;
$content-area: #ffffff !default;


// Links
$link-color: $primary-color !default;
$link-color-hover: $secondary-color !default;

// Fonts
$font-color: #5b594d !default;

// Override Bootstrap styles
$panel-default-heading-bg: #d1cfb8;
$panel-footer-bg: #d1cfb8;
$table-bg-accent: #f5f3f4;