#main-content{
  &.row{
    margin: 0;
  }
}
.content-area{
  background-color: $content-area;
  padding: 30px 50px;

  header{
    @extend .clearfix;
    border-bottom: 1px solid $font-color;
    margin-bottom: 10px;

    .btn-edit{
      margin-top: 25px;
    }
  }

}