#main-header{

  #breadcrumb{
    padding-top:5px;
    color: $content-area;
  }

  .logo{
    padding: {
      top: 11px;
      bottom: 21px;
      left: 30px;
    }
  }

  .navigation-wrapper{
    background-color: $secondary-color;
    border-bottom: 3px solid $primary-color;
    height: 31px;
  }

  .site-navbar{
    background-color: $secondary-color;
    padding: 0 30px;
    border: {
      bottom: 3px solid $primary-color;
      top: 0;
      left: 0;
      right: 0;
    }

    min-height: 0;
    margin: 0;
    border-radius: 0;

    &__links{
      margin-right: 0;

      a{
        padding: {
          top: 5px;
          bottom:5px;
        }
      }
    }

    a{
      color: $content-area;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }
  }

}