.side-nav{
  padding-top: 50px;
  background-color: $bg-color;

  a{
    color: #000;

  }

  ul{
    list-style-type: none;
  }

  &__list{
    margin: 0;
    padding-left: 15px;

    ul{
      list-style-type: none;
      padding-left: 30px;
    }
  }

  &__toggle{
    width: 9px;
    height:9px;
    overflow: hidden;
    cursor: pointer;
    background: url('../assets/img/collapse-sprite.jpg') 0 0;
    margin: {
      top: 5px;
      right: 5px;
      left: -15px;
    }

      &--close{
        background-position: -18px 0;
      }

      &--open{
        background-position: -9px 0;
      }

  }
}