<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Orchard Code Test</title>
    <link href="build/main.css" rel="stylesheet" />
</head>
<body ng-app="App">

    <div id="wrapper">
        <header id="main-header">
            <div class="logo">
                <img src="assets/img/logo.jpg" width="189" height="57" />
            </div>

            <nav class="navbar navbar-default site-navbar">
                <div id="breadcrumb" class="pull-left">
                    <a href="#">Home</a>
                </div>
                <ul class="nav navbar-nav navbar-right site-navbar__links">
                    <li><a href="#">Intranet</a></li>
                    <li><a href="#">Project Admins</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>

        </header>

        <div id="main-content" class="row" ng-controller="PageController as pageCtrl">
            <aside class="col-xs-3 side-nav">

            </aside>
            <article class="content-area col-xs-9">
                <header>
                    <h1 class="main-head pull-left">Design</h1>
                    <button ng-hide="isEditMode" class="btn btn-xs pull-right btn-control btn-edit" ng-click="setEditMode(true)">Edit</button>
                    <button ng-show="isEditMode" class="btn btn-xs pull-right btn-control btn-edit" ng-click="setEditMode(false)">Save</button>
                </header>

                <p>
                    Flat HTML site for creating base html and css and some javascript to be used to create templates from in the EpiServer build site
                </p>

                <h2>Version Control</h2>
                <table class="table table-striped table-bordered">
                    <tr>
                        <td width="260">Repository Location: </td>
                        <td>
                            <span ng-hide="isEditMode">{{versionControl.repository}}</span>
                            <input ng-show="isEditMode" type="url" ng-model="versionControl.repository" />
                        </td>
                    </tr>
                    <tr>
                        <td width="260">View Repo: </td>
                        <td>
                            <span ng-hide="isEditMode"><a href="{{versionControl.repository}}">{{versionControl.viewReop}}</a></span>
                            <input ng-show="isEditMode" type="url" ng-model="versionControl.viewReop" /></td>
                    </tr>
                    <tr>
                        <td width="260">Activity Log: </td>
                        <td>
                            <span ng-hide="isEditMode"><a href="{{versionControl.activityLog}}">{{versionControl.activityLog}}</a></span>
                            <input ng-show="isEditMode" type="url" ng-model="versionControl.activityLog" />
                        </td>
                    </tr>
                </table>

                <h2>Hosting</h2>

                <p>No information available</p>

                <div class="well">
                    <h3>Websites</h3>

                    <div class="panel panel-default" ng-repeat="site in websites">
                        <div class="panel-heading">
                            <span ng-show="site.confirm">{{site.title}}</span>
                            <input ng-hide="site.confirm" type="text" ng-model="site.title" />
                        </div>
                        <div class="panel-body">
                            <span ng-show="site.confirm">{{site.url}}</span>
                            <input ng-hide="site.confirm" type="text" ng-model="site.url" />
                            <button ng-hide="site.confirm" class="btn btn-xs pull-right btn-control btn-add" ng-click="confirmSite($index)">Save</button>
                        </div>
                    </div>

                    <button class="btn btn-xs pull-right btn-control btn-add" ng-click="addSite()">Add</button>
                    <div class="clearfix"></div>


                </div>

            </article>
        </div>

        <footer id="main-footer">
            <span>&copy; Copyright Theo Hatzi</span>
        </footer>
    </div>

<script src="build/main.js"></script>

</body>
</html>